<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>데이터바인딩</title>
  </head>
  <body>
    <div id="app">
      <!-- bind 연결하겠다는거 -->
      <p v-bind:id="uuid" v-bind:class="name">{{ num }}</p>
      <!-- <p id="abc1234" class="text-blue">{{ num }}</p> -->
      <p>{{ doubleNum }}</p>
      <div v-if="loading">Loading...</div>
      <div v-else>test user has been logged in</div>
      <div v-show="loading">vshow loading</div>
      <!-- TODO : 인풋 박스를 만들고 입력된 값을 p 태그에 출력해보세요 -->
      <input v-model="message" placeholder="여기를 수정해보세요" />
      <p>메시지: {{ message }}</p>
    </div>
    <script>
      new Vue({
        el: "#app",
        data: {
          num: 40,
          uuid: "abc1234",
          name: "text-blue",
          loading: true,
          message: "",
        },
        //데이터의 값에 따라서 바뀌는값을정의 할때 computed
        computed: {
          doubleNum: function () {
            return this.num * 2;
          },
        },
      });
    </script>
  </body>
</html>
